---
layout: default
title: CCI
---
<h1 class="title"> 
    
    <i onclick="randomAssignment()" class="bi bi-unlock-fill"></i> {{ "Cracking the Coding Interview" }}
</h1>
<h2 class="randomAssignment"></h2>
{% assign count = 0 %}
{% assign complete = 0 %}
<div id="hub-container">
    <div class="row">
        {% for chapter in site.data.chapters %}

            {% assign lookup = "ch" | append: chapter.id %}
            <div class="col-xl-4 col-lg-6 col-12 mt-3 mb-3">
                <div class="card">
                    <h5 class="card-header">{{ "Chapter " | append: chapter.id}}<br /> {{ chapter.name}}</h5>
                    <div class="card-body">
                        <strong>Questions</strong>
                        <div class="row no-gutters mt-2 mb-2">
                            {% for solution in site.data[lookup] %}
                                {% capture count %}{{ count | plus: 1 }}{% endcapture %}
                                {% if solution.link == null %}
                                    <div class="col-3 clrs-link clrs-incomplete">
                                        {{ solution.name }}
                                    </div>
                                {% else %}
                                    {% capture complete %}{{ complete | plus: 1 }}{% endcapture %}
                                    <div class="col-3 clrs-link">
                                        <a href="{{ solution.link }}">{{ solution.name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="percent-container">
        <h3 id="percent">{{complete | times: 1.0 | divided_by: count | times: 10000 | round | divided_by: 100.0}}% complete</h1>
    </div>
</div>

<script>
    function randomAssignment() {
        var assignment = $('.randomAssignment');
        var cards = $('.card > .card-body > .row > .clrs-incomplete').parent().parent().parent();
        var random = Math.floor(Math.random()*cards.length);
        var result = cards.eq(random).find('.clrs-link.clrs-incomplete').first().html().trim();
        
        var prefix = "random assignment: ";

        assignment.text(prefix + result);
    }
</script>